* {
    margin: 0;
    padding: 0;
    }

ul, li{
    list-style: none;
}

.item{
    display: inline;
    margin: 25px;
}
.link:hover{
    color: gold;
}
.nav_bar {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 29px;
}
.link {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
    margin-top: 27px;
    font-weight: 400;
}

.main_img{
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 745px;
    width: 100%;
    margin-bottom: 49px;
}
.container{
    max-width: max-content;
    padding-top: 428px;
    padding-left: 909px;    
}
.hero-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #22262A;

    
}
.hero-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    color: #22262A;
}
.slogan {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #22262A;
    } 
.img_1{
    background-image: url(../images/2.png); 
}
  